# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IDE
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover