@import 'pretendard/dist/web/static/pretendard.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 인풋 넘버의 버튼 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* 스피너 제거 */
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox에서 스피너 제거 */
}